html, body{
	background-color:#dbdbdb;
}
	
#toast-container{
	margin-bottom:2em;
}

#uploads{
	background-color: white;
	height: auto;
	padding:1em;
}

#upload-file{
	background-color: white;
	padding:1em;
}

#uploads{
	height:auto;
	margin-top:1em;
}

#dash{
	background-color: white;
	padding:1em;
	margin-bottom:1em;
	margin-top:0;
}

a{
	cursor:pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
    width:80%;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}